<div class="col-md-6">
  <div class="thumbnail">
    <img src="http://placehold.it/800x500/eee/000?text=+Private+Wikis">
    <div class="caption">
      <h3>Private Wikis</h3>
      <p>View my private wikis.</p>
      <%= link_to "View wikis", wikis_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
